/* Ustawienia ogólne */
body {
    font-family: "Courier New", sans-serif;
    margin: 40px;
    padding: 0;
    background: #eecda3;
    background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
    background: linear-gradient(to right, palegoldenrod, pink);
    min-height: 100vh;
}

/*button submit*/
button[type="submit"] {
    background: linear-gradient(#ef9e0b, #04de38);
    color: white;
    font-size: 12px;
    height: 30px;
    width: auto;
    border: none;
    border-radius: 4px;
}

.right-button {
    display: block;
    text-align: right;

}

/* Zdjęcie produktu */
/*.img {*/
/*    width: 100%;*/
/*    height:auto;*/
/*}*/


/*pojemnik*/
.container {
    /*display:table;*/
    height: 100%;
    width: auto;
}

/*nawigacja*/
logo {
    text-align: right;
    display: flex;
    align-items: center;
    background-color: #b92323; /* czerwony */
}

.logo-item {
    text-decoration: none;
    color: #8091ff; /* pomarańczowy */
    font-size: 1.2em;
}

.logo-item.active {
    color: #7d91f5;
}

.cart {
    display: flex;
    align-items: center;
}

#cart_count {
    color: #1B3309;
    padding: 0.2em 0.5em;
    border-radius: 50%;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

.shopping-cart {
    padding: 3% 0;
    background-color: pink;
    border-radius: 10px;
}

.cart-items + .cart-items {
    padding: 2% 0;
}

.price-details h6 {
    padding: 3% 2%;
    color: red;
    font-size: larger;
}

/***** box*******/

.box {
    width: 100%;
    height: 200px;
    border: 2px solid #1B3309;
    display: flex;
    border-radius: 5px;
    clear: both;
}

.box-left {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-image {
    width: auto;
    height: calc(100% - 40px);
    object-fit: cover;
    padding-bottom: 10px;
}

.box-center {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.box-name {
    font-size: 18px;
}

.box-description {
    font-size: 14px;
}

.box-right {

    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}

.box-price {
    margin-top: 70px;
    margin-right: 10px;
    font-size: 16px;
}

.box-button {
    padding: 20px;
    margin-bottom: 50px;
    margin-right: 10px;
    width: 120px;
    height: 20px;
    font-size: 14px;
    background: linear-gradient(#1B3309, #1b4bc5);
    border-radius: 30px;
}


/*****formularz*******************************************/

form {

    width: 100%;
    background-color: #E9F6DF;
    padding: 20px;
    border: 2px solid #62C51B;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #1bc537;
    border-radius: 4px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #1B3309;
}

.error {
    color: red;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
    border: 1px solid black;
    padding: 8px;
}

td {
    border: 1px solid black;
    padding: 8px;
}

.table-total {
    font-weight: bold;
}